@media (min-width: 1281px) {}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

.trello-container {
  width: 100%;
}

.trello-title {
  background: blue;
  font-size: 1.5em;
  color: #fff;
  text-align: center;
  padding: 0.5em 1em;
}

.trello-components-container>div {
  width: 31.9%;
  display: inline-block;
  margin-top: 1em;
  margin-right: 1em;
  background: #e2e4e6;
  border-radius: 3px;
  min-height: 34%;
  max-height: 85%;
  overflow: auto;
}

.done-container-title,
.progress-container-title,
.todo-container-title {
  padding: 0.5em;
  font-weight: 600;
}

.progress-container-content,
.done-container-content,
.todo-container-content {
  background: #fff;
  margin: 0.5em 0.5em;
  border-radius: 3px;
  padding: 1em;
}

.trello-add-component-block {
  color: #838c91;
  padding: 0.5em;
  border-top: 1px #c4baba dashed;
  font-size: 0.9em;
}

.trello-components-container {
  display: flex;
  padding: 1em;
}

div#done {
  margin-right: 0 !important;
}

.addTask-block>button {
  border: none;
  border-radius: 3px;
  background: #2a57fe;
  margin: 0.5em 0;
  color: #fff;
  padding: 0.5em;
  text-align: left !important;
  display: block;
  outline: none;
}

input.addTask-data {
  width: 76%;
  border: none;
}

.trello-add-component-block {
  background: #e2e4e6;
}

textarea.addTask-data {
  resize: none;
  outline: none;
}

.addTask-block {
  margin-top: 0.5em;
}