body {
  margin: 0;
  padding: 0;
  border: 0;
}

.trello-container {
  width: 100%;
}

.trello-title {
  background: blue;
  font-size: 1.5em;
  color: #fff;
  text-align: center;
  padding: 0.5em 1em;
}

.trello-components-container>div {
  width: 31.9%;
  display: inline-block;
  margin-top: 1em;
  margin-right: 1em;
  background: #e2e4e6;
  border-radius: 3px;
  min-height: 34%;
  max-height: 85%;
  overflow: auto;
}

.done-container-title,
.progress-container-title,
.todo-container-title {
  padding: 0.5em;
  font-weight: 600;
  text-align: center;
  border-bottom: 1px dashed #333;
}

.progress-container-content,
.done-container-content,
.todo-container-content {
  background: #fff;
  margin: 0.5em 0.5em;
  border-radius: 3px;
  padding: 1em;
  word-wrap: break-word;
}

.trello-add-component-block {
  color: #838c91;
  padding: 0.5em;
  border-top: 1px #c4baba dashed;
  font-size: 0.9em;
}

.trello-components-container {
  display: flex;
  padding: 1em;
}

div#done {
  margin-right: 0 !important;
}

.addTask-block>button {
  border: none;
  border-radius: 3px;
  background: #2a57fe;
  margin: 0.5em 0;
  color: #fff;
  padding: 0.5em;
  text-align: left !important;
  display: block;
  outline: none;
}

input.addTask-data {
  width: 76%;
  border: none;
}

.trello-add-component-block {
  background: #d3d3d3;
}

textarea.addTask-data {
  resize: none;
  outline: none;
}

.addTask-block {
  margin-top: 0.5em;
}

.changable-block>span {
  text-align: right;
  margin-left: 1em;
  color: blue;
  text-transform: uppercase;
  font-size: 0.7em;
}

.trello-cards {
  margin-bottom: 1em;
  height: 4em;
}

.changable-block {
  display: none;
  margin-bottom: 0.3em;
  width: 100%;
}

.trello-cards:hover>.changable-block {
  display: inline-block;
  box-sizing: border-box;
}

.edit-Task {
  padding: 0.5em;
  background: #d3d3d3;
}

.addBorder {
  border: 1px dashed #333;
}